body {
  position: relative;
}

.center {
	text-align: center;
}

.nav>li>a {
	width: 80px;
}

.view-hld{
	height: 350px;
	width: 400px;
}

.block{
	display: inline-block;
}

.static{
	position: static;
}
